# Ignore everything
**

# Allow files and directories
!ckan-entrypoint.sh
!config/*.yaml
!config/*.json
!config/who.ini
!requirements-extra.txt
!envidat_extensions.*
!wsgi.py
!debug_run.py
!pyproject.toml
!pdm.lock
